*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
bin/**
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

ModelOutput*.txt
velocity.log
debug.log
# Settings Files #
Repast.settings
hosts.xml